body {
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    background: #0b1220;
    color: white;
  }
  header {
    background: #000000;
    padding: 0px;
    display: flex;
    align-items: center;
  }  

  
  .hero {
    padding: 30px;
    text-align: center;
  }  
  footer {
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    background: #111826;
    color: #9aa4b2;
  }
  .site-title {
    font-family: 'Poppins', sans-serif;  
    font-weight: 800;
    font-size: 42px;
    text-transform: uppercase;
    background-image: url('logo.png'); 
    background-size: contain;
    background-position: left center;
    padding-left: 120px; 
    color: #fff;
    animation: slideIn 1.8s ease-out forwards;
}

.site-title .red {
    color: #d40000;
}
.site-title .white {
    color: #ffffff;
}


@keyframes slideIn {
  0% {
      opacity: 0;
      transform: translateX(-100px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}
.site-title {
    background-color: #000;
    display: inline-block;
    padding: 15px 25px;
    border-radius: 8px;
}
.banniere-haut {
  width: 100%;
  height: 0vh;
  display: block;
 
}
.slider-video {
    width: 100%;
}

.contenu-slider {
    display: flex;
    width: 100%;     
    animation: defilement 19s ; 
}

.item {
    width: 100vw;
    height: 400px;;
    object-fit: cover;
}
.ligne {
    width: 100%;
    height: 2px;
    background: rgb(255, 255, 255);
    border: none;
    margin: 20px auto;
}
.message-important {
    margin-top: 60px;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    line-height: 1.3;
}

.marque-box img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  padding: 10px;
  background: #fff;
  box-shadow: 0 3px 8px rgba(0,0,0,0.15);
  transition: 0.3s;
}

.marque-box img:hover {
  transform: scale(1.15);
}
.header-container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 16px 32px;
  background: #000;
}

.nav-links {
  display: flex;
  gap: 26px;
  position: absolute;
  left: 800%;               
  top: 100%;
   
}

.nav-links a {
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
 
}

.nav-links a:hover {
  color: #d60000;
}
